
.default-color0.chart-pie {
    -fx-pie-color: #e36000;
}

.default-color1.chart-pie {
    -fx-pie-color: #068000;
}

.default-color2.chart-pie {
    -fx-pie-color: #e36000;
}

.default-color3.chart-pie {
    -fx-pie-color: #068000;
}

